
.search-bar {
    background-color: #EFF2F7;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 0px;
}
.search-bar::placeholder {
    color: #A0AEC0;
}
.table-header {
    background-color: #E2E8F0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.table-row {
    border-bottom: 1px solid #E2E8F0;
}

.table-hover>tbody>tr:hover>* {
    background: #8f9bca08;
}

.table-row td{
    text-align: center; vertical-align: middle;
}

.table-header th{
    text-align: center; vertical-align: middle;
}

.table-row:last-child {
    border-bottom: none;
}
.btn-add {
    background-color: #4C6EF5;
    color: #FFFFFF;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.btn-add2 {
    background-color: #4C6EF5;
    color: #FFFFFF;
    border: none;
    padding: 0.575rem 0.75rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width:100%;
}

.search-conditions {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.search-conditions .btn-search {
    background-color: #4C6EF5;
    color: #FFFFFF;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}




